<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
    <clear /><!-- remove any machine-wide sources with <clear/> -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Episerver" value="http://nuget.episerver.com/feed/packages.svc/" />
	</packageSources>  
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>